@page
@model mPloy_TeamProjectG5.Pages.Tasks.CreateTaskModel
@{
}

<style>

    .Hname {
        margin-bottom: 20px;
        font-family: 'wire one', serif;
        font-size: 60px;
        padding-top: 120px;
        padding-left: 50px;
    }
</style>

<div class="container">

    <h2 class="Hname">Create Task</h2>

    <form style="padding-left: 50px" method="post" asp-route-UserID="@Model.UserID">
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <input type="text" class="form-control rounded-pill" placeholder="Title *" asp-for="@Model.task.Title" />
                <span asp-validation-for="@Model.task.Title" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" class="form-control rounded-pill" placeholder="Address *" asp-for="@Model.task.Location" />
                <span asp-validation-for="@Model.task.Location" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control rounded-pill" placeholder="Price (PLN) *" asp-for="@Model.task.Prize" />
                    <span asp-validation-for="@Model.task.Prize" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4 mb-3" style="margin-right:95px">
                <select asp-for="@Model.task.Categories" class="form-control rounded-pill"
                        asp-items="Html.GetEnumSelectList<Common.Enums.TaskCategory>()">
                    <option value="">-- Select Category --</option>
                </select>
                <span asp-validation-for="@Model.task.Categories" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <select asp-for="@Model.task.Payment" class="form-control rounded-pill"
                        asp-items="Html.GetEnumSelectList<Common.Enums.PaymentMethod>()">
                    <option value="">-- Select Payment Method --</option>
                </select>
                <span asp-validation-for="@Model.task.Payment" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="col-lg-12 mb-4">
                <input type="text" style="width: 52rem; height: 150px; border-radius:25px" class="form-control " placeholder="Description *" asp-for="@Model.task.Description" />
                <span asp-validation-for="@Model.task.Description" class="text-danger"></span>
            </div>
        </div>
        <div style="padding-left:2px;">
            <input type="submit" value="Create Task" class="btn rounded-pill" style="background-color: rgb(163 160 130)" />
        </div>
    </form>
</div>



