@page
@model mPloy_TeamProjectG5.Pages.UserAccount.DisplayUserModel
@{ }

<style>

    .profile {
        margin: auto;
        width: 60%;
        padding-top: 20px;
    }

    label {
        font-weight: 600;
        margin-right: 10px;
    }



    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        padding: 10px;
        height: 300px;
    }

    .left {
        width: 25%;
    }

    .right {
        width: 50%;
    }


    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .img-fluid {
        background-size: cover;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .row {
        margin-left: 20%;
        margin-right: 0;
        top: 30%;
        position: absolute;
    }
</style>






<div class="row">
    <div class="column left">

        <img src="@Model.LoggedUser.Picture" class="img-fluid img-thumbnail" title="" alt="">


        @*<img src="https://cdn1.vectorstock.com/i/1000x1000/51/05/male-profile-avatar-with-brown-hair-vector-12055105.jpg" class="img-fluid img-thumbnail" title="" alt="">*@
    </div>


    <div class="column right">
        <div>
            <h3 class="dark-color">About Me</h3>

            <p>
                @Model.LoggedUser.Description
            </p>

            <div class="col-6" style="float:left;">
                <div class="media">
                    <label>   Username: </label>
                    <p>@Model.LoggedUser.UserName </p>
                </div>
                <div class="media">
                    <label>   Full Name: </label>
                    <p>@Model.LoggedUser.FirstName @Model.LoggedUser.LastName</p>
                </div>
                <div class="media">
                    <label>   Age: </label>
                    <p>@Model.LoggedUser.Age </p>
                </div>
            </div>
            <div class="col-6" style="float:right">
                <div class="media">
                    <label> Address: </label>
                    <p> @Model.LoggedUser.StreetAddress @Model.LoggedUser.ZipCode @Model.LoggedUser.City </p>
                </div>
                <div class="media">
                    <label> Email:</label>
                    <p>@Model.LoggedUser.Email</p>
                </div>
                <div class="media">
                    <label> Phone: </label>
                    <p>   +45 @Model.LoggedUser.PhoneNumber</p>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="container" style="position:absolute; bottom:34%; left:19.6%; margin-top:50px;">
    <div class="form-group" style="display:flex">

        <a asp-page="/UserAccount/EditUser" class="btn rounded-pill" style=" font-size: medium; margin-left: 25px; margin-right: 25px; width: 125px; background-color: rgb(163 160 130);">Edit Profile</a>

        <a asp-page="/Index" class="btn rounded-pill" style=" font-size: medium; width:125px; background-color: rgb(163 160 130);">Back</a>


    </div>
</div>

